@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 80vh;
  width: 90%;
  max-width: 800;
  position: relative;
  background-color: white;
}
.first-section {
  flex: 2;
  flex-grow: 1;
  background-image: url(../images/bg-main-desktop.png);
  transition: 200ms;
}
.position-image {
  position: absolute;
  top: 5rem;
  left: 5rem;
  display: flex;
  flex-direction: column;
}
.front-image {
  margin-left: 40px;
  top: 155px;
}
.shadow-image {
  filter: drop-shadow(1px 1px 5px #000);
  position: absolute;
  z-index: 16;
}
.contentcard {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 18;
  padding: 15px;
  width: 200px;
  height: 106px;
  color: #fff;
}
.contentcard-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 18;
  padding: 15px;
  width: 200px;
  height: 106px;
  color: #fff;
  margin-left: 40px;
  top: 180px;
  display: flex;
  align-items: end;
}
.name-card {
  display: flex;
  flex-direction: row;
  flex: 2;
  align-items: end;
}
.second-section {
  display: flex;
  flex: 1;
  flex-grow: 1;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
}
.form-space {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin-left: 150px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 12px;
}
.succes-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width: 300px;
  margin-left: 150px;
}
.label-text {
  font-size: 12px;
  font-weight: lighter;
  color: #5f5f5f;
}
.inputs {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 4px;
  width: 95%;
  margin-top: 4px;
}
.inputs-small {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 4px;
  width: 60%;
  margin-top: 4px;
}
.inputs-second-small {
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 4px;
  width: 90%;
  margin-top: 4px;
}
@media (width > 820px) {
  .position-image {
    left: 8rem;
  }
}
@media (width < 780px) {
  .position-image {
    left: 1rem;
  }
}
@media (width < 680px) {
  .container {
    flex-direction: column;
  }
  .first-section {
    background-image: url(../images/bg-main-mobile.png);
    padding-bottom: 80px;
    position: relative;
    display: flex;
  }
  .position-image {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    right: 0;
    margin: auto;
  }
  .front-image {
    top: 10px;
    z-index: 12;
  }
  .back-image {
    top: 80px;
    z-index: 14;
  }
  .contentcard-back {
    top: 32px;
  }
  .contentcard {
    top: 80px;
  }
  .form-space {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .succes-form {
    margin-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .second-section {
    padding-top: 15px;
  }
  .container {
    height: 100vh;
    width: 100vh;
  }
}
@media (width < 500px) {
  .position-image {
    left: 20%;
  }
}
@media (width < 345px) {
  .position-image {
    left: 10%;
  }
}
.button-submit {
  background-color: rgb(41, 13, 49);
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  color: white;
}
