* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: hsl(235, 18%, 26%);
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}
.container {
  background-color: aliceblue;
  border-radius: 25px;
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  max-width: 650px;
  padding: 25px;
}
.container-mobile{
  background-color: aliceblue;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  padding: 40px;
}
.icon-success{
  flex:1
}
.title-success{
  flex: 100%;
  font-weight: bold;
}
.description-success{
  flex: 100%;
  margin-bottom: 15px;
}
.first-section {
  flex: 2;
  padding: 15px;
  padding-inline: 25px;
  margin-right: 15px;
}
h1 {
  font-size: 35px;
  font-weight: bold;
  margin-block: 15px;
}
h2 {
  font-size: 10px;
  font-weight: lighter;
  margin-block: 15px;
}
ul {
  list-style: none;
}
.image-list {
  margin-right: 10px;
  vertical-align: middle;
}
.text-list {
  vertical-align: middle;
  font-size: 10px;
}
form {
  margin-top: 15px;
}
label {
  font-weight: bold;
  font-size: 10px;
}
input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 10px;
  margin-block: 10px;
}
::-webkit-input-placeholder {
  color: #bbb;
}
.button {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 14px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  margin-top: 10px;
  font-size: 10px;
  transition: 300ms;
}
.button:hover {
  background: linear-gradient(
    90deg,
    #FF537B  0%,
    hsl(4, 100%, 67%) 100%
  );
}
.error {
  color: red;
  font-size: 10px;
}
.second-section {
  flex: 1;
}
.image-destock {
  height: 400px;
}
.image-mobile {
  display: none;
  height: 200px;
}
@media (width < 523px) {
  .image-destock {
    display: none;
  }
  .image-mobile {
    display: block;
    width: 100%;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    border-radius: 0;
  }
}
@media (width < 350px) {
  .image-mobile {
    width: 100%;
    height: auto;
  }
}
